.App {
  text-align: center;
}

h1 {
  margin: 0;
  padding: 30px;
  background-color: #1B1B1B;
  color: white;
  font-size: 40px;
}

label {
  font-size: 20px;
  margin: 10px;
}

input {
  font-size: 20px;
}

button {
  font-size: 16px;
  margin: 10px;
}

.SearchBar {
  margin: 10px;
}